@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --primary: #9d29f6;
    --secondary: #F0BF35;
    --tertiary: #0cf6c3;
    --textcolor: #7012aa;
    --success: #1E601E;
    --error: #781C1C;
    --warning: #795E0E;
    --transparent:
    rgba(0,0,0,0);
    ;
    --brown:#341907;

    --grey:rgb(240, 240, 240);
    
    --font-size-1:0.9375rem;
    --font-size-2:1.5625rem;
    --font-size-3:2.1875rem;
    --font-family: “Inter”, sans-serif;
    --font-family: “Mulish”, sans-serif;
    --font-family: “Nunito Sans”, sans-serif;
    --border-radius-1:0.625rem;
    --border-radius-2:0.9375rem;
    --border-radius-3:6.25rem;
    --header-height-1:3.125rem;
    --header-height-2:4.6875rem;
    --header-height-3:6.25rem;
    --banner-height-1:6.25rem;
    --banner-height-2:12.5rem;
    --banner-height-3:18.75rem;



    /* custom size for button */
    --sm : var(--font-size-1);
    --normal:var(--font-size-2);
    --lg:var(--font-size-3);

    /* custom size for header */
    --small : var(--header-height-1);
    --medium : var(--header-height-2);
    --large : var(--header-height-3);

     /* custom size for Banner */

     --small-bnr : var(--banner-height-1);
    --medium-bnr : var(--banner-height-2);
    --large-bnr : var(--banner-height-3);
}

@media (max-width:1236px){
    .cards{
        display: flex;
        flex-direction: column;
        height:70rem;
        width:768px;
        justify-content: space-evenly;
        align-items:center;
    }

}

@media (max-width:768px){

    .image{
        display: none;
    }

    .beee{
        display: none;
        height:300px;
    }

    .icon{
        height:200px;
        width: 400px;
        position: relative;

    }

    .button{
        display: none;
    }



   
   

  

}

@media (min-width:768px){
    .ham{
        display: none;
    }

    .logo{
        display: none;
    }


  


   

}